/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWeb.woff2");
}
body {
  font-family: IRANSansWeb;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/IRANSansWeb_Bold.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 500;
  src: url("/assets/fonts/IRANSansWeb.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/IRANSansWeb.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/IRANSansWeb.woff2");
}
@font-face {
  font-family: IRANSansWeb;
  src: url("/assets/fonts/IRANSansWebNum.woff2");
  font-weight: 400;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

@media (min-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 992.8px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1240px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1420px;
  }
}
html,
body {
  font-family: IRANSansWeb;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
legend,
ul,
li,
ol,
fieldset,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  gap: 64px;
}
header u {
  flex: 0 0 10%;
}
header nav {
  flex: 1 0 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}
header nav ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
header nav ul li a {
  color: #101828;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
header nav .button-list li {
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  padding: 10px 16px;
}
header nav .button-list li a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}
header nav .button-list li:nth-child(1) a::before {
  content: url("../images/icons/building.svg");
  height: 20px;
  width: 20px;
}
header nav .button-list li:nth-child(2) a::before {
  content: url("../images/icons/users.svg");
  height: 20px;
  width: 20px;
}

.logo_type {
  background-image: url("../images/icons/black-text-logo.svg");
  width: 145.492px;
  height: 54.09px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 992.8px) {
  header nav {
    display: none;
  }
  header u {
    width: 100%;
    margin: 15px auto;
    flex: 0 0 20%;
  }
  .responsive nav {
    display: flex;
    flex-direction: column;
    background: #fff;
    position: fixed;
    right: 0;
    z-index: 2;
    height: 100vh;
    bottom: 0;
    padding: 0 16px;
  }
  .responsive nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    gap: 35px;
    width: 100%;
  }
  .nav-icon {
    position: absolute;
    right: 16px;
    top: 30px;
    float: right;
    display: block;
    z-index: 3;
    background: url("../images/icons/menu-button.svg");
    text-indent: -9000px;
    overflow: hidden;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
  }
  .responsive .nav-icon {
    position: fixed;
  }
  .button-list {
    gap: 24px;
    padding-top: 0;
  }
}
footer {
  background: #101828;
  padding: 104px 0 48px 0;
}
footer ul {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  align-items: center;
}
footer ul li b {
  color: #fff;
  text-align: right;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: block;
}
footer ul li ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer ul li ol li a {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
footer ul .logo_type {
  background-image: url("../images/icons/test-logo.svg");
  width: 145.492px;
  height: 54.09px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

@media (max-width: 992.8px) {
  footer {
    padding: 32px 16px;
  }
  footer ul {
    grid-template-columns: 50% 50%;
  }
  footer ul li:first-child {
    display: none;
  }
}
main {
  min-height: 60svh;
}/*# sourceMappingURL=aboutus.css.map */