@import "main";
@import "footer";
@import "header";
@import "content-body";

.content-body {
  h2 {
    color: #101828;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  article {
    grid-area: span 4;
  }
  &::before {
    height: 400px;
  }
}
.header-banner {
  background-color: #dbe7e4;
  h1 {
    color: #52897b;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    &::after{
      background: url("../../assets/images/marketing-management.jpg");
      width: 50%;
      height: 100%;
      background-position: left;
      background-repeat: no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 8px 0 0 8px;
      background-size: contain;
    }
  }
  article {
    h2 {
      color: #101828;
      text-align: right;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      width: 40%;
    }
    p {
      color:  #101828;
      text-align: justify;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 175% */
    }
  }
}
section {
  &:nth-child(2) {
    &::before {
      background-image: url("../images/mm-1.svg");
    }
  }
  &:nth-child(3) {
    direction: ltr;
    &::before {
      background-image: url("../images/mm2.svg");
    }
  }
  &:nth-child(4) {
    &::before {
      background-image: url("../images/mm-3.svg");
    }
  }
  &:nth-child(5) {
    direction: ltr;

    &::before {
      background-image: url("../images/mm-4.svg");
    }
  }
  &:nth-child(6) {
    &::before {
      background-image: url("../images/mm-5.svg");
    }
  }
  &:nth-child(7) {
    direction: ltr;

    &::before {
      background-image: url("../images/mm-6.svg");
    }
  }
}
@media (max-width: 992.8px) {
  .content-body {
    &::before {
      height: 260px;
      background-size: contain;
    }
  }
}
