.online {
  background-image: url("../images/icons/p-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  margin-bottom: 80px;
  padding: 40px 0;
  position: relative;
  overflow: hidden;

  h2 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 16px;
    &::before {
      content: "";
      background: url("../../assets/images/online-consulting-pattern-shape.svg");
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 0;
      background-position: left;
      z-index: 2;
    }
    &::after {
      content: "";
      background: url("../../assets/images/online-consulting-pattern-line.svg");
      position: absolute;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 0;
      background-position: right;
      z-index: 2;
    }
  }
  article {
    z-index: 10;
    position: relative;
    h3 {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
    }
    p {
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      width: 70%;
      display: block;
      margin: 24px auto;
    }
  }
  a {
    z-index: 10;
    position: relative;
    border-radius: 8px;
    background: #fff;
    color: #7f56d9;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    padding: 10px 16px;
  }
}

@media (max-width: 992.8px) {
  .online {
    margin-bottom: 32px;
    padding: 20px 16px;
    h2 {
      &::after,
      &::before {
        content: none;
      }
    }
    article {
      p {
        width: 100%;
      }
    }
  }
}
